@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		color: theme("colors.dark");
		background-image: url("/waves/half-wave-1.svg");
		background-repeat: no-repeat;
		background-size: 50%;
	}

	h1,
	h2,
	h3 {
		font-family: theme("fontFamily.title");
		line-height: 1.2;
	}

	img,
	svg {
		display: inline;
	}

	mark {
		font-size: 1.125rem;
		font-weight: 700;
		background-color: transparent;
		color: inherit;
	}
}

@layer components {
	/* Home */

	.aboutSection,
	.skillSection {
		min-height: 90dvh;
	}

	.projectSection {
		min-height: 80dvh;
	}

	@media (min-width: 1024px) {
		.aboutSection {
			min-height: calc(100dvh - 164px - 10vw - 24px);
		}
	}
	@media (min-width: 1200px) {
		.aboutSection {
			min-height: calc(100dvh - 164px - 120px - 24px);
		}
	}

	/* Skills Section waves */
	.skillSection {
		padding: 10vw 0 5vw;
	}

	.skillSection::before,
	.skillSection::after {
		position: absolute;
		width: 100%;
		background-repeat: no-repeat;
		content: "";
	}
	.skillSection::before {
		top: 0;
		height: 10vw; /* ratio: 1200px/120px */
		background-image: url("/waves/wave-before.svg");
		background-size: 100vw 10vw;
	}
	.skillSection::after {
		bottom: 0;
		height: 5vw; /* ratio: 1200px/60px */
		background-image: url("/waves/wave-after.svg");
		background-size: 100vw 5vw;
		background-position: bottom;
	}
	@media (min-width: 1200px) {
		/* Skills Section waves */
		.skillSection {
			padding: 120px 0 60px;
		}
		.skillSection::before {
			height: 120px;
			background-size: 100vw 120px;
		}
		.skillSection::after {
			height: 60px;
			background-size: 100vw 60px;
		}
	}

	@media (min-width: 868px) {
		ul.list__project {
			justify-content: flex-start;
		}
	}

	.cardWrapper {
		width: 378px;
		max-width: 586px;
		flex: 1 1 auto;
	}

	@media (min-width: 868px) {
		.cardWrapper__skill {
			max-width: 100%;
		}
		.cardWrapper__project {
			max-width: calc((100% - 2rem) / 2);
		}
	}

	/* Cards */
	.card__project {
		box-shadow: rgba(43, 13, 0, 0.25) 0 3px 8px;
	}
	a.card {
		display: block;
	}
	.seeMore {
		border-bottom: 1px solid transparent;
	}
	.seeMore__icon {
		font-size: 1.5rem;
	}
	.card:hover .seeMore {
		border-bottom: 1px solid currentColor;
	}
	.card__title {
		font-size: 2rem;
	}
	.card__seal {
		border-radius: 0 0 0.5rem 0.5rem;
		padding: 1.5rem 0.5rem 0.5rem 0.5rem;
	}
	.card__seal path {
		fill: theme("colors.light");
	}
	.card__thumbnail {
		box-shadow: rgba(43, 13, 0, 0.125) 0px 1px 4px;
	}
}

@layer utilities {
	.clamp-l {
		font-size: clamp(2.5rem, 1.4286rem + 4.7619vw, 5rem);
	}
	.clamp-m {
		font-size: clamp(1.5rem, 0.8571rem + 2.8571vw, 3rem);
	}
}
